doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/components/bootstrap/dist/css/bootstrap.min.css')

  body
    script.

    .container.fluid
      each grimy, idx in grimyHerbs
        .row.inline-block-row
          .col-sm-4
            h3= grimy.name
            p( id=grimy.name )= grimy.price + 'gp'
          .col-sm-4
            h3= cleanHerbs[idx].name
            p( id=cleanHerbs[idx].name )= cleanHerbs[idx].price + 'gp'
          .col-sm-4( id=cleanHerbs[idx].name + "col")
            h3= 'Profit'
            p( id=cleanHerbs[idx].name + "profit")= (grimy.price-cleanHerbs[idx].price) + 'gp'

    script(src="/static/components/jquery/dist/jquery.min.js")
    script(src="/static/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/static/js/index.js")
          